<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Form asks for title, description, and priority of notes -->
  <div class="field">
    <%= f.label :'Title' %><br>
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :Description%><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :Priority %><br>
    <%= f.select :priority, options_for_select(%w[Low Medium High]) %>
  </div>

  <!-- Hidden field to associate note with a specific user -->
  <div class="field">
    <%= f.hidden_field :user_id, value: @note.user_id || @current_user.id %><br>
  </div>

  <div class="field">
    <!-- Only give user option to share note with other users if the current_user is the author -->
    <% if @note.user_id == @current_user.id %>
      <%= f.label :"Share with" %><br>
      <!-- Do not show option to share with yourself -->
      <%= select_tag "shared_with", options_from_collection_for_select(User.find(:all, :conditions => ["id != ?", current_user.id]), 'id', 'username', @note.users.map{ |j| j.id }), :multiple => true %>
    <%end %>
  </div>

<div class="actions">
    <%= f.submit %>
</div>
<% end %>

