<h2>Notepad</h2>

<br>
<%= form_tag notes_path, :method => 'get', :id => "notes_search" do %>
  <h2>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </h2>
<% end %>


<%= button_to('Create new note', new_note_path, :class => 'btn btn-large btn-primary btn', :method => :get) %>
<div id="notes"><%= render 'usernotes' %></div>
















